{
    "openapi": "3.0.0",
    "info": {
        "title": "Jira-Checklist",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://sandbox.exads.rocks"
        }
    ],
    "paths": {
        "/tickets": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "operationId": "getTickets",
                "responses": {
                    "200": {
                        "description": "List all tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ticket"
                ],
                "operationId": "createTicket",
                "responses": {
                    "200": {
                        "description": "New ticket created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tickets/{id}": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "operationId": "getTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ticket id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ticket"
                ],
                "operationId": "deleteTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ticket id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ticket"
                ],
                "operationId": "editTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ticket id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Edited Ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "user"
                ],
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "user"
                ],
                "operationId": "getUsers",
                "responses": {
                    "200": {
                        "description": "List all users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Ticket": {
                "title": "Ticket",
                "description": "A simple ticket model.",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true,
                        "example": 1
                    },
                    "code": {
                        "type": "string",
                        "example": "EX-1234"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "description": "A simple user model.",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true,
                        "example": 1
                    },
                    "username": {
                        "type": "string",
                        "example": "johndoe"
                    },
                    "firstName": {
                        "type": "string",
                        "example": "John"
                    },
                    "lastName": {
                        "type": "string",
                        "example": "Doe"
                    }
                },
                "type": "object"
            }
        }
    }
}