{
    "openapi": "3.0.0",
    "info": {
        "title": "Jira-Checklist",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://sandbox.exads.rocks"
        }
    ],
    "paths": {
        "/tickets": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "List all tickets",
                "operationId": "getTickets",
                "responses": {
                    "200": {
                        "description": "List all tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ticket"
                ],
                "summary": "Create a new Ticket",
                "description": "Create new Ticket",
                "operationId": "createTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tickets/{id}": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "Get Ticket by ID",
                "operationId": "getTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ticket id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ticket"
                ],
                "summary": "Delete Ticket by ID",
                "operationId": "deleteTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ticket id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ticket"
                ],
                "summary": "Edit Ticket Code",
                "operationId": "editTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Edited Ticket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Item": {
                "title": "Item",
                "description": "Item Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Item Name",
                        "description": "Item Name",
                        "type": "string"
                    },
                    "status_id": {
                        "title": "Status ID",
                        "description": "Status ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "owner_id": {
                        "title": "Owner ID",
                        "description": "Owner ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "tickets_id": {
                        "title": "Tickets ID",
                        "description": "Tickets ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "date": {
                        "title": "Created Date",
                        "description": "Created Date",
                        "type": "string",
                        "format": "date-time"
                    },
                    "sections_id": {
                        "title": "Sections ID",
                        "description": "Sections ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Section": {
                "title": "Section",
                "description": "Section Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "subject": {
                        "title": "Section Subject",
                        "description": "Section Subject",
                        "type": "string"
                    },
                    "tabs_id": {
                        "title": "Tabs ID",
                        "description": "Tabs ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Status": {
                "title": "Status",
                "description": "Status Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Status Name",
                        "description": "Status Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Tab": {
                "title": "Tab",
                "description": "Tab Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Tab Name",
                        "description": "Tab Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Ticket": {
                "title": "Ticket",
                "description": "Ticket Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "code": {
                        "title": "Ticket Code",
                        "description": "Ticket Code",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}