{
    "openapi": "3.0.0",
    "info": {
        "title": "Jira-Checklist",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://sandbox.exads.rocks"
        }
    ],
    "paths": {
        "/items": {
            "get": {
                "tags": [
                    "item"
                ],
                "summary": "List all Items",
                "operationId": "getItems",
                "responses": {
                    "200": {
                        "description": "List all Items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Item"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "item"
                ],
                "summary": "Create a new Item",
                "description": "Create new Item",
                "operationId": "createItem",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "Item name here"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Item"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/items/{id}": {
            "get": {
                "tags": [
                    "item"
                ],
                "summary": "Get Item by ID",
                "operationId": "getItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "item"
                ],
                "summary": "Delete Item by ID",
                "operationId": "deleteItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "item"
                ],
                "summary": "Edit Item Name",
                "operationId": "editItem",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "Item Name goes Here"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sections": {
            "get": {
                "tags": [
                    "section"
                ],
                "summary": "List all Sections",
                "operationId": "getSections",
                "responses": {
                    "200": {
                        "description": "List all Sections",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Section"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "section"
                ],
                "summary": "Create a new Section",
                "description": "Create new Section",
                "operationId": "createSection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "subject": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "subject": "Section subject goes here"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Section"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sections/{id}": {
            "get": {
                "tags": [
                    "section"
                ],
                "summary": "Get Section by ID",
                "operationId": "getSection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Section id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "section"
                ],
                "summary": "Delete Section by ID",
                "operationId": "deleteSection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Section id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "section"
                ],
                "summary": "Edit Section Subject",
                "operationId": "editSection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "subject": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "Section subject goes here"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "status"
                ],
                "summary": "List all status",
                "operationId": "getAllStatus",
                "responses": {
                    "200": {
                        "description": "List all status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Status"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "status"
                ],
                "summary": "Create a new Status",
                "description": "Create new Status",
                "operationId": "createStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "TO DO"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Status"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status/{id}": {
            "delete": {
                "tags": [
                    "status"
                ],
                "summary": "Delete Status by ID",
                "operationId": "deleteStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "status"
                ],
                "summary": "Edit Status Name",
                "operationId": "editStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "id": 1,
                                    "code": "TO DO"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Edited Status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status/{name}": {
            "get": {
                "tags": [
                    "status"
                ],
                "summary": "Get Status by Name",
                "operationId": "getStatus",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Status name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tabs": {
            "get": {
                "tags": [
                    "tab"
                ],
                "summary": "List all tabs",
                "operationId": "getTabs",
                "responses": {
                    "200": {
                        "description": "List all tabs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tab"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "tab"
                ],
                "summary": "Create a new Tab",
                "description": "Create new Tab",
                "operationId": "createTab",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Tab1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tab"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tabs/{name}": {
            "delete": {
                "tags": [
                    "tab"
                ],
                "summary": "Delete Tab by Name",
                "operationId": "deleteTab",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Tab name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "tab"
                ],
                "summary": "Edit Tab Name",
                "operationId": "editTab",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Tab-1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tabs/{id}": {
            "get": {
                "tags": [
                    "tab"
                ],
                "summary": "Get Tab by ID",
                "operationId": "getTab",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Tab id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single tab",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tickets": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "List all tickets",
                "operationId": "getTickets",
                "responses": {
                    "200": {
                        "description": "List all tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ticket"
                ],
                "summary": "Create a new Ticket",
                "description": "Create new Ticket",
                "operationId": "createTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tickets/{code}": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "Get Ticket by Code",
                "operationId": "getTicket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ticket"
                ],
                "summary": "Delete Ticket by Code",
                "operationId": "deleteTicket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ticket"
                ],
                "summary": "Edit Ticket Code",
                "operationId": "editTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Item": {
                "title": "Item",
                "description": "Item Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Item Name",
                        "description": "Item Name",
                        "type": "string"
                    },
                    "status": {
                        "title": "Status ID",
                        "description": "Status ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "owner": {
                        "title": "Owner ID",
                        "description": "Owner ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "tickets_id": {
                        "title": "Tickets ID",
                        "description": "Tickets ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "date": {
                        "title": "Created Date",
                        "description": "Created Date",
                        "type": "string",
                        "format": "date-time"
                    },
                    "sections_id": {
                        "title": "Sections ID",
                        "description": "Sections ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Section": {
                "title": "Section",
                "description": "Section Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "subject": {
                        "title": "Section Subject",
                        "description": "Section Subject",
                        "type": "string"
                    },
                    "tabs_id": {
                        "title": "Tab ID",
                        "description": "Tab ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Status": {
                "title": "Status",
                "description": "Status Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Status Name",
                        "description": "Status Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Tab": {
                "title": "Tab",
                "description": "Tab Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Tab Name",
                        "description": "Tab Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Ticket": {
                "title": "Ticket",
                "description": "Ticket Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "code": {
                        "title": "Ticket Code",
                        "description": "Ticket Code",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}