{
    "openapi": "3.0.0",
    "info": {
        "title": "Jira-Checklist",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://sandbox.exads.rocks"
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Login User",
                "description": "Login User",
                "operationId": "Login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "email": "example@gmail.com",
                                    "password": "example"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "User Register",
                "description": "User Register",
                "operationId": "Register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "name",
                                    "email": "example@gmail.com",
                                    "password": "example"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/items": {
            "get": {
                "tags": [
                    "item"
                ],
                "summary": "List all Items",
                "operationId": "getItems",
                "responses": {
                    "200": {
                        "description": "List all Items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Item"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "item"
                ],
                "summary": "Create a new Item",
                "description": "Create new Item",
                "operationId": "createItem",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "statusId": {
                                        "type": "integer"
                                    },
                                    "ownerId": {
                                        "type": "integer"
                                    },
                                    "ticketId": {
                                        "type": "integer"
                                    },
                                    "sectionId": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "ItemName",
                                    "ownerId": 1,
                                    "statusId": 1,
                                    "ticketId": 1,
                                    "sectionId": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Item"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/items/{id}": {
            "get": {
                "tags": [
                    "item"
                ],
                "summary": "Get Item by ID",
                "operationId": "getItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "item"
                ],
                "summary": "Delete Item by Id",
                "operationId": "deleteItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "item"
                ],
                "summary": "Edit Item",
                "operationId": "editItem",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "ItemName"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Item"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/sections": {
            "get": {
                "tags": [
                    "section"
                ],
                "summary": "List all Sections",
                "operationId": "getSections",
                "responses": {
                    "200": {
                        "description": "List all Sections",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Section"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "section"
                ],
                "summary": "Create a new Section",
                "description": "Create new Section",
                "operationId": "createSection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "subject": {
                                        "type": "string"
                                    },
                                    "tabsId": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "subject": "Subject",
                                    "tabs_id": 1
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Section"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/sections/{id}": {
            "get": {
                "tags": [
                    "section"
                ],
                "summary": "Get Section by Id",
                "operationId": "getSection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Section Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "section"
                ],
                "summary": "Delete Section by Id",
                "operationId": "deleteSection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Section Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "section"
                ],
                "summary": "Edit Section Id",
                "operationId": "editSection",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Section Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "subject": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "subject": "Subject1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Section"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "status"
                ],
                "summary": "List all status",
                "operationId": "getAllStatus",
                "responses": {
                    "200": {
                        "description": "List all status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Status"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "status"
                ],
                "summary": "Create a new Status",
                "description": "Create new Status",
                "operationId": "createStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "COMPLETED"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Status"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/status/{name}": {
            "get": {
                "tags": [
                    "status"
                ],
                "summary": "Get Status by Name",
                "operationId": "getStatus",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Status name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "status"
                ],
                "summary": "Delete Status by Name",
                "operationId": "deleteStatus",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Status Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "status"
                ],
                "summary": "Edit Status Name",
                "operationId": "editStatus",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Status Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "code": "COMPLETED"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Status"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tabs": {
            "get": {
                "tags": [
                    "tab"
                ],
                "summary": "List all tabs",
                "operationId": "getTabs",
                "responses": {
                    "200": {
                        "description": "List all tabs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tab"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "tab"
                ],
                "summary": "Create a new Tab",
                "description": "Create new Tab",
                "operationId": "createTab",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Tab1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Tab"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tabs/{name}": {
            "get": {
                "tags": [
                    "tab"
                ],
                "summary": "Get Tab by Name",
                "operationId": "getTab",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Tab Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single tab",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "tab"
                ],
                "summary": "Delete Tab by Name",
                "operationId": "deleteTab",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Tab name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "tab"
                ],
                "summary": "Edit Tab Name",
                "operationId": "editTab",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Tab name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Tab-1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tab"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tickets": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "List all tickets",
                "operationId": "getTickets",
                "responses": {
                    "200": {
                        "description": "List all tickets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ticket"
                ],
                "summary": "Create a new Ticket",
                "description": "Create new Ticket",
                "operationId": "createTicket",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tickets/{code}": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "Get Ticket by Code",
                "operationId": "getTicket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ticket not Found"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "405": {
                        "description": "Not Allowed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ticket"
                ],
                "summary": "Delete Ticket by Code",
                "operationId": "deleteTicket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "ticket"
                ],
                "summary": "Edit Ticket Code",
                "operationId": "editTicket",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "code": {
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "code": "EX-1234"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/tickets/page/{page}": {
            "get": {
                "tags": [
                    "ticket"
                ],
                "summary": "Get Tickets by Page",
                "operationId": "getTicketsByPage",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "Tickets Page",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Item": {
                "title": "Item",
                "description": "Item Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Item Name",
                        "description": "Item Name",
                        "type": "string"
                    },
                    "statusId": {
                        "title": "Status ID",
                        "description": "Status ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "ownerId": {
                        "title": "Owner ID",
                        "description": "Owner ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "ticketId": {
                        "title": "Tickets ID",
                        "description": "Tickets ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "date": {
                        "title": "Created Date",
                        "description": "Created Date",
                        "type": "string",
                        "format": "date-time"
                    },
                    "sectionId": {
                        "title": "Sections ID",
                        "description": "Sections ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Section": {
                "title": "Section",
                "description": "Section Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "subject": {
                        "title": "Section Subject",
                        "description": "Section Subject",
                        "type": "string"
                    },
                    "tabsId": {
                        "title": "Tab ID",
                        "description": "Tab ID",
                        "type": "integer",
                        "format": "int64"
                    }
                },
                "type": "object"
            },
            "Status": {
                "title": "Status",
                "description": "Status Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Status Name",
                        "description": "Status Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Tab": {
                "title": "Tab",
                "description": "Tab Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "title": "Tab Name",
                        "description": "Tab Name",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Ticket": {
                "title": "Ticket",
                "description": "Ticket Model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "code": {
                        "title": "Ticket Code",
                        "description": "Ticket Code",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User Auth Model",
                "description": "User Auth Model",
                "properties": {
                    "name": {
                        "title": "User name",
                        "description": "User name",
                        "type": "string"
                    },
                    "email": {
                        "title": "User email",
                        "description": "User email",
                        "type": "string"
                    },
                    "password": {
                        "title": "User password",
                        "description": "User password",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "use /auth/login to get the JWT Token",
                "name": "Authorization",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}